.cache/
.config/
.gnupg/
.pki/
.local/
.thumbnails/
.Xauthority

.bash_history/
.bash_logout/

.bashrc/


.bash_history
.bash_logout

.bashrc


.xsession-errors.old/
.xsession-errors.old

.xsession-errors/
.xsession-errors
